#venueName
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#VenueAddress
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}
h1
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#venueCity
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#venueState
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#venueZipCode
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#venueParkingAvailable
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#venueOpenHour
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#venueCloseHour
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#venueWebsiteUrl
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}
#venueFaceBookUrl
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#venueGoogleUrl
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#venueTwitterHandle
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}

#venueImageUrl
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}


#activitieDate
{
	text-align: center;
	width: 180px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px; 
	font-weight: 500;
}














